:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
body,html{
    width: 375px;
    height: 659px;
    background-color:var(--segundoColor);
    font-family:'Nanum Gothic', sans-serif;
    display:flex

}
.addCita{
justify-content: center;
align-items: center;
background-color: #acf5D2;
width: 100%;
height: auto;
padding-top: 10vw;
padding-left: 20vw;
margin-bottom: 10px;

}
.addcita input{
    color: #FFFFFF;

}
.titulo{
    align-items: center;

}
.AddCita_button{

    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#56B88E;
    width: 70%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 3vh;
    align-items: center;
}
.addcita button:hover,.addcita button:active,.addcita button:focus {
    background:#70b58d;
  }

  .footer{
    position: absolute;
    top:580px;
    background-color: var(--segundoColor);
    width: 359px;
    height: 78px;
}
.footer-decoracion{
    background-color: var(--tercerColor);
    height: 3px;
    width: 359px;
}
.footer3{
    background-color: var(--nuestroColor);
    width: 359px;
    height: 60px;
}
.footer3 ul li {
    border: 3px solid var(--tercerColor);
    background-color: #FFFFFF;
    text-align: center;
    flex-grow: 1;
}
.footer3 ul {
margin-top: 10px;
padding: 0;
height: 100%;
display: flex;
flex-direction: row;
list-style: none;
}