:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
body,html{
    width: 375px;
    height: 659px;
    background-color:var(--segundoColor);
    font-family:'Nanum Gothic', sans-serif;
    display:flex

}
p{
    margin: 0;
    padding: 0;
}
.principal{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #acf5D2;
}
.push{
    height: 1px;
    width: 100%;
    background-color: #70b58d;
}
.eliminar{
    background-color:var(--segundoColor);
    margin-left: 30px;
    margin-right: 30px;
    height: 36%;
}
.eliminar-txt{
    background: #eee;
    margin-top: 5px;
    margin-left: 6px;
    width: 286px;
    height: 175px;
}
.eliminar-txt p{
    margin: 0;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}
.principal h2{
    text-align: center;
    margin-top: 0;
}
.eliminar_mensaje{
    position: absolute;
    right: 50px;
    padding: 5px;
    margin-top: 10px;
    font-family: Arial;
    font-size: 18px;
    text-decoration: none;
}