:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
body,html{
    width: 375px;
    height: 659px;
    background-color:var(--segundoColor);
    font-family:'Nanum Gothic', sans-serif;
    display:flex

}

.principal{
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 10px;
background-color: #acf5D2;
}
.principal h1{
    text-align: center;
    margin-top: 0;
}
.calendario{
    background-color:var(--segundoColor);
    margin-left: 30px;
    margin-right: 30px;
    height: 65%;
}
.calendario2{
    height: 100%;
}
ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px 20px 0 20px;
    padding: 0;
    background-color: #acf5D2;
    border: 5px solid #4e7982;
  }
  
  li {
    font-size: 18px;
    text-align: right;
  }
  
  h2 {
    margin-bottom: 4px;
    padding: 0;
  }
  
  .first-day {
    grid-column-start:3;
  }
.do{color: red;}
  .day-name {
    background: #eee;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    padding: 4px;
    text-align: center;
  }
.dia-hoy{
    background-color: #eee;
    margin: 0 20px 0 20px;
    background-color: #acf5D2;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.current_date{
    margin: 0;
    padding: 0;
}
.mensaje-hoy{
    background: #eee;
    margin: 10px 10px 0 10px;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    border: 2px solid #4e7982;
}
.mes{
    padding-top: 20px;
}

