:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
body,html{
    width: 375px;
    height: 659px;
    background-color:var(--segundoColor);
    font-family:'Nanum Gothic', sans-serif;
    display:flex

}
.principal{
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 10px;
background-color: #acf5D2;
}
.mensajes2{
   
    background-color:white;
    margin-left: 30px;
    margin-right: 30px;
    height: 50%;
    font-size: 30px;
    
}
ul{
    padding: 20px;
    text-align: center;
}
li{
    display: block;
    text-decoration: none;
}
.botonCerrar{
    width: 60%;
    height: 30px;
    margin-top: 2vh;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    background-color:var(--nuestroColor);
}