:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
.footer{
    position: absolute;
    top:580px;
    background-color: var(--segundoColor);
    width: 359px;
    height: 78px;
}
.footer-decoracion{
    background-color: var(--tercerColor);
    height: 3px;
    width: 359px;
}
.footer3{
    background-color: var(--nuestroColor);
    width: 359px;
    height: 60px;
}
.footer3 ul li {
    border: 3px solid var(--tercerColor);
    background-color: #FFFFFF;
    text-align: center;
    flex-grow: 1;
}
.footer3 ul {
margin-top: 10px;
padding: 0;
height: 100%;
display: flex;
flex-direction: row;
list-style: none;
}
.btn-menu label{
    color:#4e7982;
    font-size: 25px;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: (0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}
.cont-menu{
    width: 100%;
    max-width: 150px;
    background: var(--tercerColor);
    top: 50px;
    height: 617px;
    position: relative;
    transition: all 500ms ease;
    opacity: 1;
    visibility: visible;
}
#btn-menu:checked ~ .container-menu{
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu .cont-menu nav{
    opacity: 0;
    visibility: hidden;
    position: relative;
    left:-10cm;
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    background: var(--nuestroColor);
    border-left: 5px solid transparent;
    transition: all 500ms ease;
    margin: 0 10px 10px 10px;
    padding: 20px 0 20px 0;
    text-align: center;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
}
.menu-lat{
    background-color: #c7c7c7;
}
.cont-menu nav .menu-lat-push{
    margin-top: 200px;
}
.icon-equis h1{
    margin: 0;
}