:root
{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}
body,html{
    width: 375px;
    height: 659px;
    background-color:var(--segundoColor);
    font-family:'Nanum Gothic', sans-serif;
    display:flex

}
.mensajes{
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 10px;
background-color: #acf5D2;
}
.mensajes h1{
    text-align: center;
}
.mensajes2{
    background-color:var(--segundoColor);
    margin-left: 30px;
    margin-right: 30px;
    height: 50%;
}
li {
    display: flex;
    border: 2px solid var(--tercerColor);
    padding: .5em;
    gap:1cm;
    background-color: #FFFFFF;
    text-align: center;
}

ul {
display: flex;
flex-direction: column;
list-style: none;
align-items: stretch;
padding-left: 0;
}
.footer{
    position: absolute;
    top:580px;
    background-color: var(--tercerColor);
    width: 359px;
    height: 78px;
}
.footer2{
    background-color: var(--segundoColor);
    height: 78px;
}
.footer2 p{
    margin-top: 3px;
}
.footer3{
    background-color: #acf5D2;
    margin-top: ;
}