:root{
    --nuestroColor:#acf5D2;
    --segundoColor: #70b58d;
    --tercerColor: #4e7982;
    --Blanco: #FFFFFF;
    --Negro: #000000;
}

html,body{
    background-color: #ACF5D2;
    width: 375px;
    height: 667px ;
    font-family:'Nanum Gothic', sans-serif;

}
.registro-page {
    display: flex;
    width: 260px;
    height: 508px ;
    padding: 8% 0 0;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding-right: 3vw;
    padding-top: 9vh;

  }
  .form {
    /*z-index: 1;*/
    display: flex;
    background: #FFFFFF;
    width: 300px;
    height:490px;
    margin-top: 60px;
    margin-bottom: 2px;
    padding: 9px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    flex: 3;
    font-family:'Nanum Gothic', 'sans-serif';
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#ACF5D2 ;
    width: 60%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: top 10vh; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
    
    
  }
  .logo{
    width: 260px;
    align-items: center;
  }
  #NewUser{
    margin-top: 6vh ;
    margin-bottom: 4vh;
  }
  #NewPass{
    
    margin-bottom: 4vh;
  }
  .form button:hover,.form button:active,.form button:focus {
    background:#70b58d;
  }
  #RepeatPass{
      margin-bottom: 9vh;

  }
   
 .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #70b58d;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #acf5D2; /* fallback for old browsers */
    /*background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);*/
    font-family: 'Nanum Gothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }